.wrapper {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    text-align: center;
}

textarea {
    height: 250px;
    resize: none;
}

button {
    padding: 10px;
    text-transform: uppercase;
    background-color: #8effe2;
    color: #000000;
}